/* font family "Rubik" */
@font-face {
  font-family: 'CustomFont';
  src: url('../fonts/Rubik/Rubik-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'CustomFont';
  src: url('../fonts/Rubik/Rubik-BlackItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'CustomFont';
  src: url('../fonts/Rubik/Rubik-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'CustomFont';
  src: url('../fonts/Rubik/Rubik-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'CustomFont';
  src: url('../fonts/Rubik/Rubik-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'CustomFont';
  src: url('../fonts/Rubik/Rubik-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'CustomFont';
  src: url('../fonts/Rubik/Rubik-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'CustomFont';
  src: url('../fonts/Rubik/Rubik-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'CustomFont';
  src: url('../fonts/Rubik/Rubik-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'CustomFont';
  src: url('../fonts/Rubik/Rubik-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'CustomFont';
  src: url('../fonts/Rubik/Rubik-MediumItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'CustomFont_regular';
  src: url('../fonts/Rubik/Rubik-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'CustomFont';
  src: url('../fonts/Rubik/Rubik-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'CustomFont';
  src: url('../fonts/Rubik/Rubik-SemiBoldItalic.ttf') format('truetype');
}
/* font-family "Franklin" */
@font-face {
  font-family: 'frankin1';
  src: url('../fonts/Franklin/LibreFranklin-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'frankin_regular';
  src: url('../fonts/Franklin/LibreFranklin-Regular.ttf') format('truetype');
}
