$extra-small: 360px;
$small: 425px;
$extra-medium: 580px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;

.techChallengeContainer {
  max-width: 1266px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    265.73deg,
    #4c22d4 1.83%,
    #0a64d4 33.5%,
    #07a0ef 65.82%,
    #01c4e8 97.32%
  );
  border-radius: 60px;
  padding: 80px 120px;
  margin: auto;

  @media screen and (max-width: $extra-large) {
    padding: 80px 50px;
  }
  @media screen and (max-width: 992px) {
    padding: 50px;
    border-radius: 0;
    margin: 80px auto;
    max-width: 1200px;
    display: block !important;
  }
  @media screen and (max-width: 768px) {
    margin: 0px;
  }
  h2 {
    max-width: 363px;
    font-weight: 600;
    color: var(--color-white);
    @media screen and (max-width: $extra-large) {
      max-width: 315px;
    }
    @media screen and (max-width: $large) {
      margin-bottom: 30px;
    }
  }
  .challangeContain {
    display: flex;
    align-items: center;
    @media screen and (max-width: $large) {
      display: block;
    }
    p {
      max-width: 470px;
      margin: 0;
      font-weight: 400;
      color: var(--color-white);
      @media screen and (max-width: $large) {
        margin-bottom: 30px;
      }
    }
    button {
      background: #ffffff;
      border-radius: 24px;
      padding: 15px 28px;
      height: fit-content;
      border: none;
      outline: none;
      color: #4c22d4;
      @media screen and (max-width: $large) {
        padding: 15px 30px;
      }
    }
  }
}
