.crm-solve-wrapper {
  max-width: 1266px;
  margin: auto;
  .crm-solve-text-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
    h2 {
      width: 34.67%;
    }
    p {
      width: 46.36%;
    }
  }
  .challenges-container {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }
}
@media screen and (max-width: 768px) {
  .crm-solve-wrapper {
    max-width: 720px;
    .crm-solve-text-wrapper {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 40px;
      h2 {
        width: auto;
      }
      p {
        width: auto;
      }
    }
    .challenges-container {
      gap: 20px;
    }
  }
}
@media screen and (max-width: 360px) {
  .crm-solve-wrapper {
    max-width: 328px;
  }
}
