.Uiuxdeginprocess-wrapper {
  // width: 65.93%;
  max-width: 1266px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media screen and (max-width: 768px) {
  .Uiuxdeginprocess-wrapper {
    width: 93.75%;
  }
}
@media screen and (max-width: 360px) {
  .Uiuxdeginprocess-wrapper {
    width: 91.11%;
  }
}
