.recognition-wrapper {
  // width: 65.93%;
  max-width: 1266px;
  margin: auto;
  .recognition-text-wrapper {
    width: 43.75%;
    margin-bottom: 40px;
  }
  .recognitionlogo-container {
    display: flex;
    gap: 30px;
  }
}
@media screen and (max-width: 768px) {
  .recognition-wrapper {
    width: 93.75%;
    overflow: scroll;
    .recognition-text-wrapper {
      width: 55.75%;
      margin-bottom: 40px;
    }
    .recognitionlogo-container {
      width: 168%;
    }
  }
}
@media screen and (max-width: 360px) {
  .recognition-wrapper {
    width: 91.11%;
    .recognition-text-wrapper {
      width: auto;
    }
    .recognitionlogo-container {
      width: 206%;
    }
  }
}
