.AdvanceIoSAppContainer {
  .AdvanceIoSAppWrapper {
    max-width: 1266px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    h2 {
      font-weight: 600;
      color: var(--color-white);
    }
    p {
      margin-top: 10px;
      color: var(--color-white);
    }
  }
}
@media screen and (max-width: 768px) {
  .AdvanceIoSAppContainer {
    .AdvanceIoSAppWrapper {
      flex-direction: column;
    }
  }
}
@media screen and (max-width: 360px) {
  .AdvanceIoSAppContainer {
    .AdvanceIoSAppWrapper {
      max-width: 328px;
      padding: 0px;
    }
  }
}
