$extra-small: 360px;
$small: 425px;
$extra-medium: 580px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;

.LateSightContainer {
  max-width: 1266px;
  margin: 0 auto;
  .LateSightWrapper {
    margin: 140px 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      font-weight: 600;
      color: var(--text-color);
    }
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;

      max-width: 180px;
      background: #a1aef9;
      border-radius: 24px;
      padding: 10px 20px;
      color:#324FF1;
      p {
        font-weight: 400;
        margin: 0;
      }
    }
  }
  .LateSightDetails {
    display: flex;
  }
}
